<h1 class="mb-1 restaurant-show-title">編輯餐廳 - {{restaurant.name}}</h1>
<div class="container">
    <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">店名<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="name" placeholder="艾朋牛排餐酒館" name="name"
                value="{{restaurant.name}}" required />
        </div>
        <div class="mb-3">
            <label for="name_en" class="form-label">英文店名<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="name_en" placeholder="A Point Steak & Bar"
                name="name_en" value="{{restaurant.name_en}}" required />
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">分類<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="category" placeholder="美式" list="categoryOptions"
                name="category" value="{{restaurant.category}}" required />
            {{! 使用datalist，讓使用者可選擇或自行輸入 }}
            <datalist id="categoryOptions">
                <option>美式</option>
                <option>咖啡</option>
                <option>中東料理</option>
                <option>日本料理</option>
                <option>義式餐廳</option>
            </datalist>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">圖片連結<span class="text-danger">*</span></label>
            <input type="url" class="form-control" id="image" placeholder="http://restaurant.jpg" name="image" value="{{restaurant.image}}" required />
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">地址<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="location" placeholder="台北市信義區忠孝東路五段 139 號 2 樓" name="location"
                value="{{restaurant.location}}" required />
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">電話<span class="text-danger">*</span></label>
            <input type="tel" class="form-control" id="phone" placeholder="02-27201230" name="phone"
                value="{{restaurant.phone}}" required />
        </div>
        <div class="mb-3">
            <label for="google_map" class="form-label">Google地圖連結<span class="text-danger">*</span></label>
            <input type="url" class="form-control" id="google_map" placeholder="https://goo.gl/maps" name="google_map"
                value="{{restaurant.google_map}}" required />
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">評分<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="rating" min="0" max="5" step="0.1" placeholder="4.5" name="rating"
                value="{{restaurant.rating}}" required />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">敘述<span class="text-danger">*</span></label>
            <textarea class="form-control" id="description" rows="3" placeholder="從味蕾開始，重拾美味感動。艾朋牛排餐酒館對高級料理的細選珍饌堅持，更勇於翻脫新意，要以平易親人的親切風格，同時不失料理獨家精髓，成功打動每吋挑剔味蕾，讓每位顧客享用鮮嫩Steak牛排風采，咀嚼Pasta義大利麵層次風味！" name="description"
                required>{{restaurant.description}}</textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">
                儲存修改
            </button>
            <a href="/"><button class="btn btn-secondary btn-home">返回首頁</button></a>
            <a href="/restaurants/{{restaurant._id}}"><button class="btn btn-primary btn-detail">回詳細頁</button></a>
            {{! 使用type="reset" 可以清除/還原輸入 }}
            <button type="reset" class="btn btn-danger">還原輸入</button>
        </div>
    </form>
</div>